@import "tailwindcss";

html,
body {
    @apply bg-zinc-950 text-zinc-50 antialiased;

    /* Disable page refreshing on overscroll */
    overscroll-behavior-y: none;
    touch-action: pan-x pan-y;

    /* Stop highlighting text */
    user-select: none;
    -webkit-user-select: none;
}
